body {
    font-family: Arial;
    line-height: 5px;
    height: 79px;
}

#top {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 15px;
}

#container {
    min-height: 100%;
    position: relative;
    padding-top: 15px;
    top: 0px;
    left: 0px;
    height: 207px;
}

#main {
    width: 85%;
    padding-bottom: 4em;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}
