body {
    font-family: Arial;
    line-height: 5px;
    height: 290px;
}

#top {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 15px;
}

#container {
    min-height: 100%;
    position: relative;
}

#main {
    width: 80%;
    padding: 8px;
    padding-bottom: 4em;
    background-color: white;
}
